{% extends 'admin/base2.html.twig' %}
{% block body %}

                <div class="col-xs-12 col-sm-3">
                </div>
                <div class="col-xs-12 col-sm-6">

                    <div class="card card-about-me">
                        <form  action="" method="post"  id="contact_form">
                        <div class="header">
                            <h2>Ajouter admin </h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li>
                                    <div class="title">
                                        <i class="material-icons">library_books</i>
                                        Nom
                                    </div>
                                    <div class="content">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                            <input  name="first_name" placeholder="tapez votre nom" class="form-control"  type="text">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons">library_books</i>
                                        Prénom
                                    </div>
                                    <div class="content">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                            <input  name="last_name" placeholder="tapez votre nom" class="form-control"  type="text">
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="title">
                                        <i class="material-icons">library_books</i>
                                        Numéro de carte d'identite
                                    </div>
                                    <div class="content">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            <input name="cin" placeholder="carte identite" class="form-control"  type="text">
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="title">
                                        <i class="material-icons"> mail </i>
                                        Adresse mail
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                        <input name="email" placeholder="E-Mail Address" class="form-control"  type="text">
                                    </div>
                                </li>
                                <li>
                                <div class="title">
                                    <i class="material-icons">face </i>
                                    Rôle
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" value="ROLE_ADMIN">
                                    <label class="custom-control-label" for="customRadio1">Admin </label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" value="ROLE_SUPERADMIN">
                                    <label class="custom-control-label" for="customRadio2">Super Admin</label>
                                </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons">vpn_key </i>
                                        Mot de passe
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="material-icons">vpn_key </i></span>
                                        <input name="motdepasse" placeholder="mot de passe " class="form-control"  type="password">
                                    </div>

                                </li>
                                <li>
                                    <div class="input-group">
                                <a href="{{ path('gestionuser') }}">  <button type="submit" class="btn btn-success pull-right"><i class="material-icons">person_add </i>Ajouter</button></a>
</div></li>

                               <!--C:\wamp64\www\DonDuSang4\public\Admin\js\pages\index.js-->
                            </ul>
                        </div>
                            </form>
                        <div class="col-xs-12 col-sm-3">
                        </div>
                    </div>
                </div>


{% endblock %}