<h3>Don De Sang</h3>

bonjour chér(e) {{ utilisateur.prenom  }}! nous vous  informons que vous étes le nouveau admin de notre site .

{# example, assuming you have a route named "login" #}
prière de connecter a ce lien   <a href="{{ url('login') }}">DonDuSang</a>.
login c'est votre adresse mail et le mot de passe est {{ motdepasse }} vous pouvez changer votre mot de passe :) .

bonne journées!