<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="bootstrap.min.css">
<link rel="stylesheet" href="maine.css">
<script src="jquery-3.1.1.min.js"></script>
<script rel="text/javascript" src="main.js" ></script>
<script rel="text/javascript" src="bootstrap.min.js" >
    </script>
</head>
<body>
  <div class="row"></div>
  <br>
  <br>
<div class="jumbotron container">
    <div class="logo">
        <a href="#">
            <h1>DonDuSang</h1> 
        </a>
    </div>
  <p class="lead">Vous avez été déconnecté
      Merci d'utiliser notre site web
     </p>
  <hr class="my-4">
  <p> S'il vous plaît <a href="#">cliquez ici</a> pour vous connecter à notre site</p>
  
</div></body>