{% extends 'base.html.twig' %}
 {% block body %}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">

    <form class="well form-horizontal" action="" method="post"  id="contact_form">
        <fieldset>

            <!-- Form Name -->
            <legend>Mes Coodronnees </legend>
<div class="form-group">
    <label class="col-md-4 control-label">etes vous?</label>
    <div class="col-md-4">
        <div class="radio">
            <label>
                <input type="radio" name="hosting" value="donneur" /> Donneur
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="hosting" value="demandeur" /> Demandeur
            </label>
        </div>
    </div>
</div>

<!-- Text area -->

<div class="form-group">
    <label class="col-md-4 control-label">Message</label>
    <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
            <textarea class="form-control" name="comment" placeholder="Project Description"></textarea>
        </div>
    </div>
</div>
            <div class="alert alert-success" role="alert" id="success_message">Bien <i class="glyphicon glyphicon-thumbs-up"></i> Merci de nous avoir contacté, nous reviendrons vers vous sous peu.</div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-danger" >Envoyer <span class="glyphicon glyphicon-send"></span></button>
                    <button type="button" class="btn btn-secondary" ><a href="{{ path('usersimpleuser') }}">Annuler</a><span class="glyphicon glyphicon-remove-circle"></span></button>
                </div>
            </div>

        </fieldset>
    </form>
</div>
     </div><!-- /.container -->
 {% endblock %}